

body {
  background-color: #02010A;
  font-family: 'Dancing Script';
}

#contenido{
  margin:0 auto;
  width:900px;
  background-color: white;

}

header {
  width:100%;
  min-height:100px;
  display:flex;
  flex-flow: row wrap;
  color: white;

}




.adaptativa3019 {
  background-color: #82c3a6;
  margin: 0 auto;
  padding: 1em 0 0 0;
  text-align:center;
  color:red;
  box-shadow: 6px 5px 10px 0 rgba(0,0,0,2);
  border-radius: 1px;




}

.adaptativa-porcentaje-1{
  background-color: #d5c75f;
  margin: 0 auto;
  padding: 1em 0 0 0;
  text-align:center;
  color:black;
  box-shadow: 6px 5px 10px 0 rgba(0,0,0,2);
  border-radius: 1px;
}





#menucabecera {
  width:50%;
  background-color: #5b7989;
  padding-top:35px;


}

#menucabecera a{
margin-left: auto;
padding-right: 15px;
color: white;
font-size: 25px;

 }

#Titulocabecera {
    width:50%;
    background-color: #5b7989;
    color: white;
}

#contentmenu{
float:right;

}


#contenedor  {
  text-align: center;
  background: white ;
  margin: 3px;
  padding: 2px;
  font-size: 50px;
  color: white;
}

.adaptativa-porcentaje{
  width: 90%;
}
#adaptativa-porcentaje-1{
  text-align:center;
  width: 100%;
  background-color: #d5c75f;
}

}
#featured .adaptativa-porcentaje-1 img  {
  transition-property: width, height;
  width: 100px;
  height: 100px;
  transition: width, 1s;
}

#prioritario1  img:hover {
  transform: rotate(10deg);
  box-shadow: 6px 5px 10px 0 #82c3a6;
}

#prioritario img:hover  {
  transform: translate(5px,20px);
  box-shadow: 6px 5px 10px 0 #82c3a6;
}
.divi3 img{
  width: 30px;
  display: inline-flex;
}

.prioritario2 {
  width:100%;
  min-height:100px;
  display:flex;
  flex-flow: row wrap;
  border-radius: 10px;

}

.divi1 {
  width: 25%;
  background-color: #C6d5c5;
  border-radius: 10px;
}
.divi3 {
  width: 25%;
  background-color: #C6d5c5;
  align-items: center;


}

.divi2 {
  width: 25%;
  background-color: #C6d5c5;
}

.divi2 img {
  width: 20px;
}

.divi4 {
  width: 25%;
  background-color: #C6d5c5;
  border-radius: 10px
}

footer {
  width: 100%;
  background-color: #C6d5c5;
  border-radius: 100px;
}

#Retrato1 {
  filter: blur(10px);
}

#Retrato2  {
  filter: grayscale(100%);
}
#Retrato4  {
  filter: grayscale(100%);
}

#Retrato6  {
  filter: grayscale(100%);
}

#Retrato3 {
  filter: sepia(90%);
}



#paisaje1 {
  filter: blur(10px);
}

#paisaje2  {
  filter: grayscale(100%);
}
#paisaje4  {
  filter: grayscale(100%);
}

#paisaje6  {
  filter: grayscale(100%);
}

#paisaje3 {
  filter: sepia(90%);
}

@media screen and (max-width:900px) {
  img {
    width: 100%;
  }
  #prioritario1{
    width: 100%;
  }
  #prioritario2{
    width: 100%;
   }

   #contenido, #Titulocabecera, #menucabecera{
   width: 100%;
   }

   #Titulocabecera,#contentmenu{
   text-align: center;
   float:none;
   }
   .divi1 {
     width: 100%;
     background-color: #C6d5c5;
     border-radius: 10px;
   }
   .divi3 {
     width: 100%;
     background-color: #C6d5c5;
     align-items: center;


   }

   .divi2 {
     width: 100%;
     background-color: #C6d5c5;
   }

   

   .divi4 {
     width: 100%;
     background-color: #C6d5c5;
     border-radius: 10px

 }
